<div class="field field--password">
	<label for="{{name}}" class="field__label">{{label}}</label>

	<div class="field__wrapper">
		<input oninput="{{action}}(this.name, this.value)" type="password" value="{{value}}" name="{{name}}"
			placeholder="{{placeholder}}" class="field__input validation">
		<span onclick="fieldPassword.toggle(this)" class="field__icon"></span>
	</div>

</div>