<div class="field">
	<label for="{{name}}" class="field__label">{{label}}</label>
	<input oninput="{{action}}(this.name, this.value)" type="{{type}}" name="{{name}}" placeholder="{{placeholder}}"
		class="field__input validation">
</div>